.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url('../../images/feynman.png');
  background-size: 867px 637px;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 80px 0 0 0;
  height: 790px;
}