.khan__buy-link {
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  margin-left: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  border-bottom: 1px solid;
}